.dialog-pane{
    -fx-pref-height: 380;
    -fx-background-image: url("/mortal/images/alert/alert.png");
    -fx-background-color: #3c434b;
}

.header-panel{
    -fx-pref-height: 47;
    -fx-pref-width: 350;
    -fx-background-image: url("/mortal/images/alert/alertTitle.png");
    -fx-alignment: center;
    -fx-background-color: #3c434b;

}

