.toggle-button, .button{
    -fx-background-color: rgba(218, 98, 30, 0.2 );
    -fx-border-color: rgba(1, 1, 1, 0.2);
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;


}
.toggle-button:hover, .button:hover{
    -fx-background-color:  rgba(218, 98, 30, 0.7 );
    -fx-border-color: orange;
    -fx-border-width: 3, 3;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.toggle-button:selected, .button:selected{
    -fx-background-color:  rgba(218, 98, 30, 1 );
}



