#times{
    -fx-font-size: 36;
    -fx-alignment: center;
    -fx-font-family: Algerian;
    -fx-progress-color: rgba(100, 98, 30, 0.7 );
    -fx-background-image: url("/mortal/images/timerImage.png");
}

#timesGrid{
    -fx-background-image: url("/mortal/images/timeView.png");
    -fx-font-size: 20;
    -fx-alignment: center;
    -fx-font-family: Algerian;
}

.button{
    -fx-background-color: rgba(218, 98, 30, 0.2 );
    -fx-border-color: rgba(1, 1, 1, 0.2);
    -fx-border-width: 1, 1;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.button:hover{
    -fx-background-color:  rgba(218, 98, 30, 0.7 );
    -fx-border-color: orange;
    -fx-border-width: 3, 3;
    -fx-border-style: solid;
    -fx-border-radius: 0, 0;
    -fx-border-insets: 1 1 1 1, 0;
}
.alert.confirmation.dialog-pane {
    -fx-background-color: greenyellow;
}


